<a href="https://colab.research.google.com/github/Kikkas01/Python-for-analytics/blob/main/%D0%A3%D1%80%D0%BE%D0%BA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Урок 2. Задание 1
Загрузить, просмотреть, определить количество строк и склеить 3 датасета:
marketing_campaign.csv, users.csv и subscribers.csv

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('marketing_campaign.csv')

In [3]:
df2 = pd.read_csv('subscribers.csv')

In [4]:
df3 = pd.read_csv('users.csv')

In [5]:
df1.head()

  user_id date_served  ... language_displayed converted
0   a1000      1/1/18  ...            English      True
1   a1001      1/1/18  ...            English      True
2   a1002      1/1/18  ...            English      True
3   a1003      1/1/18  ...            English      True
4   a1004      1/1/18  ...            English      True

[5 rows x 6 columns]

In [6]:
df2.head()

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True
3   a1003           House Ads          1/1/18           NaN        True
4   a1004           House Ads          1/1/18           NaN        True

In [7]:
df3.head()

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English

In [8]:
df1.shape

(10037, 6)

In [9]:
df2.shape

(10037, 5)

In [10]:
df3.shape

(10037, 3)

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10037 non-null  object
 1   date_served         10021 non-null  object
 2   marketing_channel   10022 non-null  object
 3   variant             10037 non-null  object
 4   language_displayed  10037 non-null  object
 5   converted           10022 non-null  object
dtypes: object(6)
memory usage: 470.6+ KB

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   subscribing_channel  1856 non-null   object
 2   date_subscribed      1856 non-null   object
 3   date_canceled        577 non-null    object
 4   is_retained          1856 non-null   object
dtypes: object(5)
memory usage: 392.2+ KB

In [13]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10037 non-null  object
 1   age_group           10037 non-null  object
 2   language_preferred  10037 non-null  object
dtypes: object(3)
memory usage: 235.4+ KB

In [14]:
df1.describe()

       user_id date_served  ... language_displayed converted
count    10037       10021  ...              10037     10022
unique   10037          31  ...                  4         2
top      a7212     1/15/18  ...            English     False
freq         1         789  ...               9793      8946

[4 rows x 6 columns]

In [15]:
df2.describe()

       user_id subscribing_channel date_subscribed date_canceled is_retained
count    10037                1856            1856           577        1856
unique   10037                   5              31           115           2
top      a7212           Instagram         1/16/18        4/2/18        True
freq         1                 600             163            15        1279

In [16]:
df3.describe()

       user_id    age_group language_preferred
count    10037        10037              10037
unique   10037            7                  4
top      a7212  19-24 years            English
freq         1         1682               9275

In [17]:
df = df1.merge(df2, on = 'user_id', how = 'left').merge(df3, on = 'user_id', how = 'left')
df.head()

  user_id date_served  ...    age_group language_preferred
0   a1000      1/1/18  ...   0-18 years            English
1   a1001      1/1/18  ...  19-24 years            English
2   a1002      1/1/18  ...  24-30 years            English
3   a1003      1/1/18  ...  30-36 years            English
4   a1004      1/1/18  ...  36-45 years            English

[5 rows x 12 columns]

# Урок 2. Задание 2
Определить количество, типы и описательные статистики колонок (столбцов)
получившегося датасета.

In [18]:
df.shape

(10037, 12)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   subscribing_channel  1856 non-null   object
 7   date_subscribed      1856 non-null   object
 8   date_canceled        577 non-null    object
 9   is_retained          1856 non-null   object
 10  age_group            10037 non-null  object
 11  language_preferred   10037 non-null  object
dtypes: object(12)
memory usage: 1019.4+ KB

In [20]:
df.describe()

       user_id date_served  ...    age_group language_preferred
count    10037       10021  ...        10037              10037
unique   10037          31  ...            7                  4
top      a7212     1/15/18  ...  19-24 years            English
freq         1         789  ...         1682               9275

[4 rows x 12 columns]

# Урок 2. Задание 3
Определить эффективность маркетинговых каналов по привлечению платящих
игроков.

In [37]:
df_filtered = df.loc[df['converted'] == True]
df_filtered.head()

  user_id date_served  ...    age_group language_preferred
0   a1000      1/1/18  ...   0-18 years            English
1   a1001      1/1/18  ...  19-24 years            English
2   a1002      1/1/18  ...  24-30 years            English
3   a1003      1/1/18  ...  30-36 years            English
4   a1004      1/1/18  ...  36-45 years            English

[5 rows x 12 columns]

In [22]:
df_filtered['marketing_channel'].value_counts()

House Ads    298
Instagram    265
Facebook     237
Email        193
Push          83
Name: marketing_channel, dtype: int64

Поскольку мы еще не изучали агрегирование - то получаем количество заплативших игроков простым суммированием значений с флагом Converted == True. Т.к. исходя из описания датасета набор юзеров в нем - уникален, предварительно считать дубли по конверсии одного и того же юзера - не требуется

# Урок 2. Задание 4
Определить самую раннюю дату подписки на сервис.

In [25]:
df.sort_values(by = 'date_subscribed', ascending = True).head(1)

  user_id date_served  ...   age_group language_preferred
0   a1000      1/1/18  ...  0-18 years            English

[1 rows x 12 columns]

# Урок 2. Задание 5
Определить портрет аудитории удержанных подписчиков (по возрасту и языку).

In [54]:
df_short = df.filter(items = ['user_id', 'is_retained','age_group','language_preferred'])
df_portrait = df_short.loc[df_short['is_retained'] == True]
df_portrait.head()

  user_id is_retained    age_group language_preferred
0   a1000        True   0-18 years            English
1   a1001        True  19-24 years            English
2   a1002        True  24-30 years            English
3   a1003        True  30-36 years            English
4   a1004        True  36-45 years            English